<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Documento</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        .ribbon {
          position:static;
          float:right;
          bottom:60px;
        }

        h4 {
            text-align: center;
            color: #3d3d5c;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          text-align: center;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <table>
        <tr>
          <td style="border: 0px solid #dddddd"><img src='https://upload.wikimedia.org/wikipedia/commons/8/83/Bras%C3%A3o_UFRPE.png' height="118" width="90" /></td>
          <td style="text-align: center; color: #3d3d5c; border: 0px solid #dddddd">
            <h3>UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO</h3>
            <h4>CNPJ: 24.416.174/0001-06</h4>
            <h4>DEPARTAMENTO DE REGISTRO DIGITAL</h4>
        </td>
        </tr>
       
      </table>

    <hr>

    <h4>RELATÓRIO DE ATIVIDADES</h4>
    <p> Este relatório apresenta as atividades cadastradas na plataforma moodle, no dia <%= data %> às <%= hora %>.
    </p>

    <table>
        <tr>
          <th>ID</th>
          <th>Atividade</th>
          <th>Último Acesso</th>
          <th>Curso vinculado</th>
        
        </tr>

        <% var quiz = JSON.parse(JSON.stringify(atividades[0])) %>
        <% var forum = JSON.parse(JSON.stringify(atividades[2])) %>
        <% var resource = JSON.parse(JSON.stringify(atividades[3])) %>
        <% var choice = JSON.parse(JSON.stringify(atividades[4])) %>
        <% var url = JSON.parse(JSON.stringify(atividades[5])) %>
        <% var glossary = JSON.parse(JSON.stringify(atividades[6])) %>
        <% var feedback = JSON.parse(JSON.stringify(atividades[7])) %>
        

        <% console.log('RESDSDSDSD---------------------------------', quiz.length) %>
  
        <% for(var i=0; i<quiz.length; i++){ %>
          <tr>      
            <td><%=quiz[i].id%></td>
            <td><%=quiz[i].name%></td>
            <td><%
              var d = new Date(quiz[i].timemodified * 1000);
              var months = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
              var date = d.getDate() +'/'+ months[d.getMonth()] +'/'+ d.getFullYear();
              var hora = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();%>
              <%= date %> às <%= hora %>
            </td>
            <td><%=quiz[i].shortname%></td>
          </tr>
        <% } %>
        <% for(var i=0; i<forum.length; i++){ %>
          <tr>      
            <td><%=forum[i].id%></td>
            <td><%=forum[i].name%></td>
            <td><%
              var d = new Date(forum[i].timemodified * 1000);
              var months = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
              var date = d.getDate() +'/'+ months[d.getMonth()] +'/'+ d.getFullYear();
              var hora = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();%>
              <%= date %> às <%= hora %>
            </td>
            <td><%=forum[i].shortname%></td>
          </tr>
        <% } %>
        <% for(var i=0; i<resource.length; i++){ %>
          <tr>      
            <td><%=resource[i].id%></td>
            <td><%=resource[i].name%></td>
            <td><%
              var d = new Date(resource[i].timemodified * 1000);
              var months = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
              var date = d.getDate() +'/'+ months[d.getMonth()] +'/'+ d.getFullYear();
              var hora = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();%>
              <%= date %> às <%= hora %>
            </td>
            <td><%=resource[i].shortname%></td>
          </tr>
        <% } %>
        <% for(var i=0; i<choice.length; i++){ %>
          <tr>      
            <td><%=choice[i].id%></td>
            <td><%=choice[i].name%></td>
            <td><%
              var d = new Date(choice[i].timemodified * 1000);
              var months = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
              var date = d.getDate() +'/'+ months[d.getMonth()] +'/'+ d.getFullYear();
              var hora = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();%>
              <%= date %> às <%= hora %>
            </td>
            <td><%=choice[i].shortname%></td>
          </tr>
        <% } %>
        <% for(var i=0; i<url.length; i++){ %>
          <tr>      
            <td><%=url[i].id%></td>
            <td><%=url[i].name%></td>
            <td><%
              var d = new Date(url[i].timemodified * 1000);
              var months = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
              var date = d.getDate() +'/'+ months[d.getMonth()] +'/'+ d.getFullYear();
              var hora = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();%>
              <%= date %> às <%= hora %>
            </td>
            <td><%=url[i].shortname%></td>
          </tr>
        <% } %>
        <% for(var i=0; i<glossary.length; i++){ %>
          <tr>      
            <td><%=glossary[i].id%></td>
            <td><%=glossary[i].name%></td>
            <td><%
              var d = new Date(glossary[i].timemodified * 1000);
              var months = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
              var date = d.getDate() +'/'+ months[d.getMonth()] +'/'+ d.getFullYear();
              var hora = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();%>
              <%= date %> às <%= hora %>
            </td>
            <td><%=glossary[i].shortname%></td>
          </tr>
        <% } %>
        <% for(var i=0; i<feedback.length; i++){ %>
          <tr>      
            <td><%=feedback[i].id%></td>
            <td><%=feedback[i].name%></td>
            <td><%
              var d = new Date(feedback[i].timemodified * 1000);
              var months = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];
              var date = d.getDate() +'/'+ months[d.getMonth()] +'/'+ d.getFullYear();
              var hora = d.getHours()+':'+d.getMinutes()+':'+d.getSeconds();%>
              <%= date %> às <%= hora %>
            </td>
            <td><%=feedback[i].shortname%></td>
          </tr>
		    <% } %>
    </table>

    <h4 style="color: black;">RECIFE, <%= data %></h4>

    <img src='http://localhost:3000/static/images/qr.png' height="200" width="200" class="ribbon"/>
</body>
</html>